<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>What color is the sky on a clear day?</h1>
    <form action="/result" method="POST">
      <input type="text" name="color" />
      <button>Go</button>
    </form>
    <hr />
    <% if(isRaining) { %>
    <p>It is raining.</p>
    <% }else {%>
    <p>Its not raining.</p>
    <% }%>
    <hr />
    <ul>
      <%pets.forEach(val => {%>
      <li>name: <%=val.name%> species: <%=val.species%></li>
      <%}) %>
    </ul>
  </body>
</html>
